<div class="container" *ngIf="route">

<h2>{{route.name | uppercase}} Details</h2>

<div>
	<span>Descripcion: {{route.description}}</span>
</div>
<div>
	<span>Actividad: {{route.activity.name}}</span>
</div>
<div>
  <label>Privacidad:
    <span *ngIf="route.isPublic">Publica</span>
		<span *ngIf="!route.isPublic">Privada</span>
  </label>
</div>
<div>
  <label>
    <span>Longitud: {{route.length}} metros</span>
  </label>
</div>
<div>
  <label>
    <span>Duracion: {{route.duration}} minutos</span>
  </label>
</div>
<div>
  <label>
    <span>Fecha de realización: {{route.date | date: 'dd/MM/yyyy'}}</span>
  </label>
</div>
<div>
  <label>Formato:
    <span *ngIf="route.isCircular">Circular</span>
		<span *ngIf="!route.isCircular">Solo ida</span>
  </label>
</div>
<div>
  <label>Dificultad:
    <span>{{route.difficulty.difficulty}}</span>
  </label>
</div>
<div>
	<span>La realizaron {{route.doneByCount}} personas</span>
</div>
<div>
	<span *ngIf="route.rateAvg!=0">Puntaje promedio: {{route.rateAvg}}</span>
</div>
<div *ngIf="notas">
<div *ngFor="let not of notas">
	<span>{{not.category}} - {{not.description}}</span>
</div>
</div>
<div *ngIf="route.owner.id==currentUser.id">
	<button type="button" (click)="privacity()">Cambiar privacidad</button>
	<button type="button" (click)="updateRoute()">Actualizar</button>
	<button type="button" (click)="deleteRoute()">Eliminar</button>
</div>

<div *ngIf="route.owner.id!=currentUser.id">
	<button type="button" (click)="didIt()"><span *ngIf="didit">Ya la hice!</span><span *ngIf="!didit">Hacerla!</span></button>
</div>

<div *ngIf="route.owner.id!=currentUser.id">
	<form ngNativeValidate name="miForm" (ngSubmit)="rateAvg()">
		<div class="form-group">
			<label>Puntaje: </label>
			<input class="form-control" type="number" min="1" max="5" name="rating.rating" [(ngModel)]="rating.rating" required />
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary">Puntaje</button>
		</div>
	</form>
</div>

<div>
<form ngNativeValidate name="miForm" (ngSubmit)="leaveNote()">
		<div class="form-group">
			<label>Dejar una nota: </label>
			<input class="form-control" type="text" name="nota.description" [(ngModel)]="nota.description" required />
		</div>
		<div class="form-group">
			<label>Tipo: </label>
			<select class="form-control" name="nota.category" placeholder="formato" [(ngModel)]="nota.category" required >
				<option *ngFor="let not of categories">{{not}}</option>
			</select>
			<br>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary">Dejar nota</button>
		</div>
	</form>
</div>
<button (click)="goBack()">Volver</button>
</div>
<app-mapa [url]={{this.kml}}></app-mapa>