<table>
	<thead>
		<tr>
			<th><h3>Lista de usuarios</h3></th>
			<th><h3>Lista de actividades</h3></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<table>
	<thead>
	<tr>
		<th><button (click)="sortById()">ID</button></th>
		<th><button (click)="sortByName()">NOMBRE</button></th>
		<th>APELLIDO</th>
		<th>USERNAME</th>
		<th>BLOQUEAR?</th>
	</tr>
	</thead>
	<tbody>
	<tr *ngFor="let user of users">
		<td>
			<a routerLink="/detail/{{user.id}}">
				{{user.id}}
			</a>
		</td>
		<td>{{user.name}}</td>
		<td>{{user.lastName}}</td>
		<td>{{user.userName}}</td>
		<td>
			<button type="button" (click)="blockUser(user)" *ngIf="user.isEnable">Bloquear</button>
			<button type="button" (click)="blockUser(user)" *ngIf="!user.isEnable">Desbloquear</button>
		</td>
	</tr>
	</tbody>
</table>
			</td>
			<td>
				<table>
	<tr>
		<td>
			<ul class="activities">
				<li *ngFor="let act of activities">
				<span class="badge">{{act.id}} - </span>
				<input [(ngModel)]="act.name">				
				<button type="button" (click)="updateActivity(act)">Actualizar
				</button>
				<button type="button" (click)="deleteActivity(act)">Eliminar
				</button>
				</li>
				<li>
					<form ngNativeValidate name="miForm" (ngSubmit)="onSubmit()">
						<div class="form-group">
						<label>Nueva actividad: </label>
						<input class="form-control" type="text" name="activity.name" [(ngModel)]="activity.name" required />
						</div>
						<div class="form-group">
						<button type="submit" class="btn btn-primary">Agregar</button>
						</div>
					</form>
				</li>
			</ul>
		</td>
	</tr>
</table>
			</td>
		</tr>
	</tbody>
</table>


